@use "sass:map";

@use "../abstracts/_mixins" as mix;
@use "../abstracts/_config" as config;
@use "../abstracts/_variables" as vars;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  scrollbar-gutter: stable;
}

html {
  font-size: config.$fs-html;
}

body {
  font-family: config.$font-nunito;
  font-size: vars.$fs-16-18;
  font-weight: 400;

  letter-spacing: vars.$ls;
  line-height: vars.$lh-16-18;

  color: vars.$color-text-primary;
  background: vars.$color-background-primary;

  @include mix.transition(background, color);

  &.scroll-stop {
    overflow: hidden;
  }
}

section {
  padding: vars.$gap-48-96 0;
}

.container {
  @include mix.container(config.$container-space, config.$container-indent);
}
